@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	line-height: 1.7;
}

.navbar {
	padding: 1.5rem 15rem;
	display: flex;
	justify-content: space-between;
	background-color: #f8f9fa;
	box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);

    overflow: hidden;

	&__logo a {
		display: inline-block;
		text-decoration: none;
		color: #ed2939;
		font-size: 2rem;
	}


	&__link {
		display: inline-block;
		float: left;
		margin-left: 20px;
	}


	&__link a {
		display: block;
		text-decoration: none;
		font-size: 1.6rem;
		background-color: #ed2939;
		padding: 3px 1.2rem;
		color: #ffffff;
		border-radius: 3px;
    	margin: 2px;
	}
}
.links{
	display: flex;
	justify-content: flex-end;
}

.drop {
	display: none;
	position: absolute;
	z-index: 1;
}
.drop a:hover{
	background-color: #ff6666;
}

.charactersLinks
{
	background-color: #ed2939;
	display : none;
	margin-left: 20px;
	position: relative;
	left : 85%;
	top : -70px;
	color: #ffffff;
}
.characters:hover .charactersLinks
{
	display: block;
}
.navbar__link:hover .drop{
    display:block;
    }

.header {
	height: calc(100vh - 6.4rem);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;

	&__tagline {
		width: 50%;
		color: #ffffff;
		font-size: 4.5rem;
	}

	&__learn {
		width: 50%;
	}

	&__start-learning {
		background-color: #ed2939;
		color: #ffffff;
		padding: 1.5rem 2rem;
		border-radius: 3px;
		border: none;
		outline: none;

		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: #ffffff;
			color: #ed2939;
			transform: translateY(-3px);
		}

		&:active {
			transform: translateY(0);
		}
	}
}
.headerColors
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Colors_lonfeldt.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerAnimals
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Animals1.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerBasicPhrases
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BasicPhrases.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerBasicSentences
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BasicSentences.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerFood
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Food.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerNumbers
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Numbers.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerTimeTracking
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Time.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerClothing
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Clothing.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	&__learn {
		width: 50%;
		background-color: #ed2959;
	}
}
.headerHiragana
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Hiragana.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__tagline {

		color: #ffffff;
		font-size: 4.5rem;
	}
	&__learn {

		background-color: #ed2959;
	}
}
.headerKanji
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Kanji.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	flex-direction: column;
}
.headerKatakana
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Katakana.jpg);
	background-size: cover;
	padding: 5rem 15rem;
	display: flex;
	flex-direction: column;
}
.tableCard {
	background-color: #ed295a;
	padding: 1.2rem 2rem;
	display: inline-block;
	border-radius: 3px;
	margin-bottom: 2rem;
	transition: all 0.3s ease-in-out;
&__Header{
	color: #ffffff;
 font-size: 1.3rem;
}
&__Element{
color: #ffffff;
font-size: 1.2rem;
}
&:hover {
	transform: translateY(9px) scale(1.1);
}
}
.kanjiTable{
	display: flex;
	flex-direction: column;
}
.card {
	background-color: #ffffff;
	padding: 1.2rem 2rem;
	display: inline-block;
	border-radius: 3px;
	margin-bottom: 2rem;
	transition: all 0.2s ease-in-out;

	&__heading {
		font-size: 2.4rem;
		margin-bottom: 1rem;
		color: #ed2939;
	}

	&__content {
		font-size: 1.5rem;
	}

	&:hover {
		transform: translateY(-5px) scale(1.05);
	}
}
