
.container {
  background-color: #222;
  padding: 0;
  margin: 15% auto;
  width: 55%;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  border: solid #000000 2px;
  border-radius: 2%;
}

.formIn {
  margin:0;
}

.form-control {
  width: 100%;
  padding:3%;
  margin: 0;
  text-align: center;
}
.form-head {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  padding: 4% 0; 
  font-size: 3.5em;
  background: #666;
  text-align: center;
  margin-bottom:0.5%;
}

.button {
    display: flex;
    margin: 1% 30%;
  }

  .button a {
    text-decoration: none;
    padding: 1% 3%;
    color: #ffffff;
    font-size: 1.3em;
      margin-top: 1%;
      width: 100%;
  text-align: center;
  }
  .green{
  background: green;
  }
  .blue{
  background: blue;
  }
